*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: hsl(195, 89%, 86%);
    color: black;
    
}

header {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #0095ff;
    align-items: center;
    z-index: 100;
    padding: 5px 50px;
    height: 70px;
    width: 100%;
    box-shadow: -5px -8px  10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    margin-left: -250px
}

.navbar a{
    font-size; 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 35px;
}

nav {
    display: block;
    margin-left: 500px;
}

.navbar a.active,
.navbar a:hover {
    background: liner-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color; transparent;
    -webkit-background-clip: text;

}

.home{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;

}

.home-content{
    
    margin-left: 360px;
    margin-top: -300px;
    width: 500px;
}
.home-content h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin-top: -160px;
    
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
    text-align: right;
}

.btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 170px;
    height: 50px;
    background: black;
    border-radius: 30px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    margin-left: 200%;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::before{
    background-position: 100% 0;
}

.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease;
}

.btn:hover::after {
    background-position: 100% 0;

}

.home-sci a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}

.home-sci a::before{
    content: '';
    position: absolute;
    weight: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::before{
    filter: blur(5px);
}

.home-sci a::after{
    content: '';
    position: absolute;
    weight: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;

}

.home-sci a:hover::after{
    transform: scale(0);
}

.home-img{
    width: 300px;
    height: 410px;
}


.home-img .glowing-circle::after{
    width: 980px;
    height: 680px;
    
   
  
}

.glowing-circle .image{
    padding-right: -2000%;
    padding-bottom: 0%;
    width: 380%;
    height: 380%;
    z-index: 3;
    float: right;
    margin-top: -80px;
    
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    left: 30px;

    
    
}



.glowing-circle span:nth-child(1){
    filter: blur(10px);
}

.image{
   width: 1000%;
   height: 500px;

   
    
    
    


}

/* portofolio css */

.menu1, .menu2{
    align-items: center;
    margin-left: 100px;
}

.menu1 h2, .menu2 h2{
    text-align: center;
    justify-content:
}

.items, .itemss{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 20px;
    grid: column gap 20px;
    grid-row-gap: 30px;
    margin-left: 250px;
    font-style: normal;   
}


.itemss1{
    width: 200px; 
    height: 300px;  
}

.item img,.itemss img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 20px;   
}

.item img:hover, .itemss img:hover{
    transform: scale(1.04);
}

.item button,.itemss button{
    padding: 5px;
    border: none;
    outline: none;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;

    font-size: 15px;
    display: block;
    transition: 0.5s all;
    align-items: center;
}

a:-webkit-any-link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.item button:hover,.itemss button:hover{
    transform: scale(1.08);
}

@media screen and (max-width: 1000px){
    .items{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 780px){
    .itemss{
        grid-template-columns: repeat(1,1fr);
    }
}
/* about */
.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
}

.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    margin-left: -550px;
}
.container p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-left: 30px;
    color: black;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 10px;
    margin-right: 50px;
}
.container h1{
    font-size: 80px;
    text-align: center;
    margin-top: -60px;
    margin-right: 100px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;

}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(1.2);
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #fff;
}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-top: 300px;
    width: 700px;
    margin-left: 1100px;
    
}

.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    color: #fff;
    font-size: 19x;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;

}

.about-content .read-more:hover{
    background-color: #3e8e41;
}

@media screen and (max-width:768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .about-content{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
}
/* album   */
.Albums{
    margin-left: 100px;
    object-fit: cover
    display: grid;
    grid-template-rows: 250px 50px;
    border-radius: 50px;
}

.navbar a{
    font-size; 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 35px;
}
.container{
    margin-left: 200px;
    margin-top: 250px;

}


